{% extends "base.html" %}
{% block title %}Change password{% endblock %}
{% block content %}
<div class="page-head"><div class="titles"><h1>Change password</h1></div></div>
<div class="card" style="max-width:520px"><div class="card-body">
<form method="post" class="form-grid">{% csrf_token %}
  {% include "_form_errors.html" %}
  {% include "_field.html" with field=form.old_password span="span-12" %}
  {% include "_field.html" with field=form.new_password1 span="span-12" %}
  {% include "_field.html" with field=form.new_password2 span="span-12" %}
  <div class="field span-12"><div class="row"><button class="btn primary" type="submit">Change password</button><a class="btn ghost" href="{% url 'accounts:profile' %}">Cancel</a></div></div>
</form>
</div></div>
{% endblock %}
